<ion-header [translucent]="true">
  <ion-toolbar>
    <button [routerLink]="['../home']" class="icon-home"><ion-icon name="home-outline"></ion-icon></button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/image/mee.jpg" />
    <ion-card-header>
      <ion-card-title>Miguel Santos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Correo: </strong>masantos.g47@gmail.com</p>
      <p><strong>Matricula: </strong>2021-0645</p>
      <p><strong>Telefono: </strong>8093865451</p>
    </ion-card-content>
  </ion-card>
</ion-content>
