.containerHome{
  display: inline-flex;
  margin-left: 20px;
}
.containerHerramientas{
  display: inline-flex;
  overflow: hidden;
}
.prueba{
  width: 300px;
  overflow: hidden;
  padding: 2px;
}
.titulo{
  margin-left: 30px;
}

